@import url("fonts.css");


:root {
    --text-font: "Kreon Variable";
    --main-font-size: 16pt;
    --main-font-size-mobile: 14pt;
    --code-font: "Courier Prime";
    --code-font-size: 14pt;
    --code-font-size-mobile: 12pt;

    --background-color: #F5DDB8;
    --header-background-color: #D0AC76;

    --normal-link-color: #779FA1;
    --active-link-color: #8BB9BB;

    --code-background-color: #564154;

    --extra-color-1: #FF6542;
    --extra-color-2: #88498F;
}
